<div class="container fade-in">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="text-center">
								<h2>开 发 流 程</h2>
								<hr>
								<div class="liucheng">
									<ul class="box-center center">
										<li>
											<i style="background-color: #fbc517;"><img src="__ROOT__/Public/img/liuchen-2.png"></i>
											<h4>小程序</h4>
											<span>快速加入我们</span>
										</li>
										<li>
											<i class="tuk"><img src="__ROOT__/Public/img/jiantou.png" style="width: 100%;height:56px;margin-top: 56px;"></i>
										</li>
										<li>
											<i style="background-color: #28be61;"><img src="__ROOT__/Public/img/liucheng-3.png"></i>
											<h4>招商加盟</h4>
											<span>快速加入我们</span>
										</li>
										<li>
											<i class="tuk"><img src="__ROOT__/Public/img/jiantou.png" style=" width: 100%;height:56px;margin-top: 56px;"></i>
										</li>
										<li>
											<i style="background-color: #f9464c;"><img src="__ROOT__/Public/img/liucheng-4.png"></i>
											<h4>联系我们</h4>
											<span>快速加入我们</span>
										</li>
									</ul>
									<ul class="box-center center">
										<li>
											<i style="background-color: #fa8a3f;"><img src="__ROOT__/Public/img/liucheng-5.png"></i>
											<h4>小程序</h4>
											<span>快速加入我们</span>
										</li>
										<li >
											<i class="tuk"><img src="__ROOT__/Public/img/jiantou.png" style="width: 100%;height:56px;margin-top: 56px;"></i>
										</li>
										<li>
											<i style="background-color: #fa8083;"><img src="__ROOT__/Public/img/liucheng-6.png"></i>
											<h4>招商加盟</h4>
											<span>快速加入我们</span>
										</li >
										<li>
											<i class="tuk"><img src="__ROOT__/Public/img/jiantou.png" style="height:56px;margin-top: 56px;"></i>
										</li>
										<li>
											<i style="background-color: #8c50cb;"><img src="__ROOT__/Public/img/liucheng-7.png"></i>
											<h4>联系我们</h4>
											<span>快速加入我们</span>
										</li>
									</ul>
								</div>
							</div> 
						</div>
			        </div>
			    </div>
			</div>