<!-- 底部 -->
	<footer class="dibu-tu">
					<div class="dibu container">
						<div class="center box-center">
							<div class="erweima">
								<h3>深圳市吉泰创投信息技术有限公司</h3>
								<div class="box-center erweima2">
									<i><img src="__ROOT__/Public/img/erweima.png"></i>
									<ul>
										<li><a href="index.html">首页</a></li>
										<li><a href="applet.html">小程序</a></li>
										<li><a href="case.html">案列展示</a></li>
										<li><a href="Merchants.html">招商加盟</a></li>
										<li><a href="about.html">关于我们</a></li>
										<li><a href="https://sz800800.cn/index.php/Login/index.html">服务商登录</a></li>
										<li ><a href="https://sz800800.cn/adp.php/Login/index.html" class="bb">用户登录</a></li>
									</ul>
									<div class="guanyu">
										<h3>联系我们</h3>
										<p>公司电话：0755-66607572</p>
										<p>公司邮件：1508282620@qq.com</p>
										<p>公司地址：深圳市龙华新区忠信路9号汇亿财富中心1104</p>
									</div>
								</div>
							</div>
						</div>
						<strong style="position: relative;z-index: 4;">备案号:粤ICP备17113431号-1   版权所有：@互联网生态圈营销中心</strong>
					</div>
	</footer>
	<script type="text/javascript">
		window.onload=function(){ 
			var widtch = $(".sekuai").css("width")
			var height = $(".sekuai").css("height")
			$(".hover1").width(widtch).height(height)
			console.log(widtch)
			swiper();
			
			icon();
			bottom();
			daohan();
			jianxian();
			var oDiv = document.getElementById('aa');
			var aLi = oDiv.getElementsByTagName('li');
			//aLi[2].style.backgroundColor="#000";			
		}

	</script>
</body>

</html>