<div class="wxchenxun text-center fade-in">
				<h2>小程序多流量入口</h2>
				<hr>
				<p>众多的流量入口增加了客户与品牌的粘性</p>
				<div class="liucheng rukou">
					<ul class="box-center center" style="width: 1100px;">
						<li>
							<i><img src="__ROOT__/Public/img/4.png"></i>
							<p>二维码</p>
						</li>
						<li>
							<i><img src="__ROOT__/Public/img/5.png"></i>
							<p>附近的店</p>
						</li>
						<li>
							<i><img src="__ROOT__/Public/img/6.png"></i>
							<p>微信搜索</p>
						</li>
						<li>
							<i><img src="__ROOT__/Public/img/7.png"></i>
							<p>历史记录</p>
						</li>
						<li>
							<i><img src="__ROOT__/Public/img/8.png"></i>
							<p>好友推荐</p>
						</li>
					</ul>
					<ul class="box-center center" style="width: 1100px;">
						<li>
							<i><img src="__ROOT__/Public/img/9.png"></i>
							<p>置顶小程序</p>
						</li>
						<li>
							<i><img src="__ROOT__/Public/img/10.png"></i>
							<p>消息通知</p>
						</li>
						<li>
							<i><img src="__ROOT__/Public/img/11.png"></i>
							<p>应用推广</p>
						</li>
						<li>
							<i><img src="__ROOT__/Public/img/12.png"></i>
							<p>活跃用户</p>
						</li>
						<li>
							<i><img src="__ROOT__/Public/img/13.png"></i>
							<p>还有更多</p>
						</li>
					</ul>
				</div>
			</div>