<div class="container fade-in nonee">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="wxchenxun text-center funfact">
								<div class="wxchenxun text-center funfact">
									<h2>六大保障，让您轻松上手，无后顾之忧！</h2>
									<hr>
									<div class="baozhang">
										<ul class="box-center center" style="width: 90%;margin-bottom: 20px;">
											<li>
												<i><img src="__ROOT__/Public/img/14.png"></i>
												<strong>培训保障</strong>
												<p>产品培训，运营培训，销售培训，推广培训</p>
											</li>
											<li>
												<i><img src="__ROOT__/Public/img/15.png"></i>
												<strong>运营保障</strong>
												<p>运营指导，案列分享，行业方案提供</p>
											</li>
											<li>
												<i><img src="__ROOT__/Public/img/16.png"></i>
												<strong>产品保障</strong>
												<p>紧跟腾讯步伐，产品定期更新，不定期发布新品</p>
											</li>
										</ul>
										<ul class="box-center center" style="width: 90%;margin-bottom: 20px;">
											<li>
												<i><img src="__ROOT__/Public/img/17.png"></i>
												<strong>营销保障</strong>
												<p>网页源码，营销物料，推广计划，推广运营</p>
											</li>
											<li>
												<i><img src="__ROOT__/Public/img/18.png"></i>
												<strong>区域保障</strong>
												<p>客户保护，区域保护，切实保障代理商利益</p>
											</li>
											<li>
												<i><img src="__ROOT__/Public/img/19.png"></i>
												<strong>服务保障</strong>
												<p>售后培训，实施培训，使用培训技术指导</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>