
<include file="Public/head" />
 <script type="text/javascript" src="__ROOT__/Public/js/ajaxfileupload.js"></script>
<form  id="qq" action="__ROOT__/jtct/index.php/Program/Person/order_list" enctype="multipart/form-data" method="post" >
	

<div>
	
	<div><input  name="program_id" type="text"></div>program_id
	<br/>
	<div><input  name="openid" type="text"></div>openid
	<br/>
	<div><input  name="shouhuo_id" type="text"></div>shouhuo_id
	<br/>
	<div><input  name="remark" type="text"></div>remark
	<br/>
	<div><input  name="fapiao_taitou" type="text"></div>fapiao_taitou
	<br/>
	<div><input  name="array_id[]" type="text"></div>array_id
	<br/>
	<div><input  name="array_id[]" type="text"></div>array_id
	<br/>
	
	<!--<div><input  name="buy_num" type="text"></div>buy_num
	<br/>-->
<!--<div><input  name="muban_price" type="text"></div>muban_price
	<br/>-->

	<!--<div><input  name="user_name" type="text"></div>user_name
	<br/>
	<div><input  name="price" type="text"></div>price
	<br/>
	-->
	
	<!--<div><input  name="image01" type="file"></div>
	<br/>-->
	<!--<div><input  name="image02" type="file"></div>
	<br/>
	<div><input  name="image03" type="file"></div>
	<br/>
	<div><input  name="image04" type="file"></div>
	<br/>
	<div><input  name="image05" type="file"></div>
	<br/>-->
	
	<!--<div><input  name="image02" type="file"></div>图片name
	<br/>-->


	<button class="button" type="submit">测试开始</button>
</form>
   <div style="width:100px;height:100px;border:1px solid red;">
   	123123
   </div>
<script type="text/html" id="tpl_show_notice">
   <div style="width:100px;height:100px;border:1px solid red;">
   	123123
   </div>
</script>

<script>
	
	
</script>