	<include file="Public/head" />
<!-- banner -->
	<div class="swiper-container banner">
	    <div class="swiper-wrapper">
	       <!--  <div class="swiper-slide"><img src="__ROOT__/Public/img/banner5.png"></div> -->
	        <div class="swiper-slide"><img src="__ROOT__/Public/img/banner-6.jpg"></div>
	    </div>
	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination"></div>
	    
	    <!-- 如果需要导航按钮 -->
	    <div class="swiper-button-prev Button"></div>
	    <div class="swiper-button-next Button"></div>
	</div>
<!-- 图标 -->
			<!--<icon class="tubiaoA"></icon>-->
	<include file="Public/icon" />
<!-- 吉泰 -->
	<div class="box-center center jitai fade-in">
		<div class="jitai-tu">
			<img src="__ROOT__/Public/img/jitai.jpg">
		</div>
		<div class="jianjie text-center">
			<h3>深恒利信息技术有限公司</h3>
			<p>深圳市深恒利信息技术有限公司是以小程序开发为核心，
兼具官网、微商城、APP专业开发的移动营销方案解决商，实现了从研发、制作、设计、完善、上线及运营为一体的一站式服务。
深恒利秉承和延续了公司十年的互联网从业经验和专业精神，不断开拓进取。
基于深厚的终端解决方案基础，成立了“微开天下”小程序推广招商品牌，并建立了更深远的合作。微开天下品牌依托于“互联网生态圈营销中心”、“互联网生态圈服务中心”，
建立战略合作的单位有：腾讯众创空间、深圳黔坤实业、橙色中国品牌、深圳特交所、共享资源会等。</p>
		</div>
	</div>
	<p class="jies center box-center">“深圳市吉泰创投有限公司是以小程序、微信公众号、公司”，其有一个具备
			背景及丰富工作经验的专业团队。我们整合商业思考、美学价值及技术实现用
			设计驱动创新、技术驱动品质、客户共同实现商业价值。在数字技术不断重塑
			业务边界及企业运营环境的今天，吉泰立足商业与技术的前沿，助力客户成为
			“移动互联网+”时代的行业领跑者。
	</p>
	<div class="gaoxin">
		<h3>高薪诚聘—</h3>
		<span>我们需要这样的您加入我们</span>
	</div>
<!-- 高薪诚聘 -->
	<div class="rencai">
		<div class="center">
			<h4 class="fade-in">高级Java工程师</h4>
			<ul class="fade-in">
				<li>1.有较好的理论知识基础，具有4年以上实际项目开发经验</li>
				<li>2.熟悉springMVC等主流开源框架并且能够对不同框架进行整合</li>
				<li>3.熟练应用html,css等技术开发Web界面</li>
				<li>4.熟悉Javascript，有jquery等js框架使用经验更佳</li>
				<li>5.具备MySQL开发经验技术</li>
				<li>6.有较强的系统与模块设计能力，能够独立完成系统（模块）设计分析工作</li>
				<li>7.有大型的分布式系统，商用的高负载系统开发经验优先</li>
			</ul>
			<h4>高级前端开发工程师</h4>
			<ul class="fade-in">
				<li>1.三年以上的Web应用开发经验，具备程序设计能力</li>
				<li>2.熟悉HTML5标准，精通Javascript前端开发，能快速高效实现各种交互效果；代码合理、清晰、规范</li>
				<li>3.精通XHTML/XML/CSS、JavaScript、AJAX等，精通W3C标准，熟悉对象化Javascript编程</li>
				<li>4.熟悉Javascript，有jquery等js框架使用经验更佳</li>
				<li>5.熟悉掌握AngularJs或NodeJs，并有实际开发经验的优先</li>
			</ul>
			<h4>设计师</h4>
			<ul class="fade-in">
				<li>1.2-3年以上的网站界面设计行业相关工作经验，设计、美术或相关专业，大专或以上学历，有较厚美术功底，追求精致。</li>
				<li>2.精通photoshop，coreldraw或Adobe Illustrator等基本的网页设计软件，对视觉效果有深厚认识。</li>
				<li>3.工作态度好，效率高，工作不讨价还价，能虚心听取领导或同事关于界面的改动建议并能主动提出自己的***方案。</li>
				<li>4.精通dreamweaver、html、CSS、flash，能够对设计图进行切片，制作网页者优先。</li>
			</ul class="fade-in">
		</div>
	</div>
<!-- 地图 -->
	<div class="box-center center fade-in ditu-u" style="width:84%;">
		<div id="container1" class="kuang"></div>
		<div class="des">
			<h3>联系我们</h3>
			<p>深圳市吉泰创投有限公司</p>
			<ul>
				<li>联系电话：0755-66607572</li>
				<li>公司官网：http://jt.sz800800.cn/</li>
				<li>公司地址：深圳市龙华新区忠信路9号汇亿财富中心1104</li>
			</ul>
		</div>
	</div>
<!--底部开始-->
	<include file="Public/foot" />
<script>
	new BaiduMap({
		id: "container1",
		title: {
			text: "汇亿财富中心",
			className: "title"
		},
		content: {
			className: "content",
			text: ["地址：深圳市龙华新区忠信路9号汇亿财富中心1104", "电话：0755-66607572"]
		},
		point: {
			lng: 114.000200,
			lat: 22.659410,
		}
	});
</script>
</body>
</html>