<include file="Public/head" />
<!-- banner -->
	<div class="swiper-container banner">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide"><img src="__ROOT__/Public/img/banner5.png"></div>
	        <div class="swiper-slide"><img src="__ROOT__/Public/img/banner-2.jpg"></div>
	    </div>
	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination"></div>
	    
	    <!-- 如果需要导航按钮 -->
	    <div class="swiper-button-prev Button"></div>
	    <div class="swiper-button-next Button"></div>
	</div>
<!-- 图标 -->
		<!--<icon class="tubiaoA"></icon>-->
	<include file="Public/icon" />
<!-- 我们的优势 -->
	<div class="text-center Advantage public">
		<h2 class="fade-in">我们的优势</h2>
		<hr>
		<p>优质的产品,优质的客服团队,优质的开发团队,只为服务好每一位客户</p>
		<div class="Advantage-tu">
			<ul class="box-center center fade-in youshi-w">
				<li>
					<i><img src="__ROOT__/Public/img/pinpai1.png"></i>
					<p>品牌优势</p>
				</li>
				<li>
					<i><img src="__ROOT__/Public/img/pinpai2.png"></i>
					<p>客服团队</p>
				</li>
				<li>
					<i><img src="__ROOT__/Public/img/pinpai3.png"></i>
					<p>品牌策划</p>
				</li>
				<li>
					<i><img src="__ROOT__/Public/img/pinpai4.png"></i>
					<p>一站式服务</p>
				</li>
			</ul>
			<ul class="box-center center fade-in youshi-w">
				<li>
					<i><img src="__ROOT__/Public/img/pinpai5.png"></i>
					<p>精品模板任选</p>
				</li>
				<li>
					<i><img src="__ROOT__/Public/img/pinpai6.png"></i>
					<p>原生组件架构</p>
				</li>
				<li>
					<i><img src="__ROOT__/Public/img/pinpai7.png"></i>
					<p>技术开发团队</p>
				</li>
				<li>
					<i><img src="__ROOT__/Public/img/pinpai8.png"></i>
					<p>紧随市场所需</p>
				</li>
			</ul>
		</div>
	</div>
<!-- 全方面的技术支持 -->
	<div class="text-center public jisu">
		<h2 class="fade-in">全方面技术支持</h2>
		<hr>
		<p>专业的系统培训课程、专业的客服指导，专业的研发团队、为您解决一切不可能</p>
		<div class="Advantage-tu">
			<ul class="center box-center fade-in" style="width: 70%;">
				<li>
					<i><img src="__ROOT__/Public/img/pinpai1.png"></i>
					<p>系统培训</p>
					<span>专业的技术后台，客服人员通过技术培训使合作商掌握整个系统的操作流程</span>
				</li>
				<li>
					<i><img src="__ROOT__/Public/img/pinpai2.png"></i>
					<p>服务支持</p>
					<span>在这里，我们提供专业的客服团队为您提供1对1在线服务，为您解决疑难</span>
				</li>
				<li>
					<i><img src="__ROOT__/Public/img/pinpai3.png"></i>
					<p>研发支持</p>
					<span>合作伙伴在日常运营中如果出现技术问题，总部安排专业的技术人员解决。</span>
				</li>
			</ul>
		</div>
	</div>
<!-- 运营保障 -->
	<yunyin-baozhang class="yunyin"></yunyin-baozhang>
<!-- 合作流程 -->
	<div class="wxchenxun text-center funfact">
		<h2 class="fade-in">合 作 流 程</h2>
		<hr>
		<p style="margin-bottom:20px;">优质的产品，优质的客户团队，优质的开发团队，只为服务好每一位客户</p>
		<div>
			<ul class="box-center center hezuo fade-in">
				<li>
					<!-- <span>联系我们</span> -->
					<i><img src="__ROOT__/Public/img/hezuo1.png"></i>
				</li>
				<li>
					<!-- <span>立即签约</span> -->
					<i><img src="__ROOT__/Public/img/hezuo2.jpg"></i>
				</li>
				<li>
					<!-- <span>参加培训</span> -->
					<i><img src="__ROOT__/Public/img/hezuo33.png"></i>
				</li>
				<li>
					<!-- <span>合作代理</span> -->
					<i><img src="__ROOT__/Public/img/hezuo44.png"></i>
				</li>
			</ul>
		</div>
	</div>
<!--底部-->
<include file="Public/foot" />
</body>
</html>