	<include file="Public/head" />
	<!-- banner -->
	<div class="swiper-container banner">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide"><img src="__ROOT__/Public/img/banner-8.jpg"></div>
	        <div class="swiper-slide"><img src="__ROOT__/Public/img/lunbo4.png"></div>
	    </div>
	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination"></div>
	    
	    <!-- 如果需要导航按钮 -->
	    <div class="swiper-button-prev Button"></div>
	    <div class="swiper-button-next Button"></div>
	</div>
<!-- 图标 -->
		<!--<icon class="tubiaoA"></icon>-->
	<include file="Public/icon" />
<!-- 如何打开微信小程序？ -->

	<div class="text-center dakai">
		<h2 class="fade-in">如何打开微信小程序？</h2>
		<hr>
		<p>无需安装，扫码即用的小程序商城，每天9.58亿活跃用户，低成本营销是您最佳的选择</p>
		<div>
			<ul class="box-center center fade-in" style="width: 88%;">
				<li class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<img src="__ROOT__/Public/img/1.png">
				</li>
				<li class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<img src="__ROOT__/Public/img/2.png">
				</li>
				<li class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<img src="__ROOT__/Public/img/3.png">
				</li>
			</ul>
		</div>
	</div>
<!-- 小程序的十大优势 -->
	<div class="youshi">
		<div class="center">
			<h3 class="fade-in">小程序的优势：</h3>
			<ul class="fade-in">		
				<li>
					<p>1.线下扫码—</p>
					<span>首先这个线下扫描入口是微信官方主推入口，通过线下二维码扫码进入，实现不用下载使用APP，“即用即走的APP”。</span>
				</li>
				<li>
					<p>2.微信菜单“发现”——“小程序”—</p>
					<span>打开微信，进入发现，打开“小程序”，即可搜索想要的小程序。此方法的前提是：使用过任意一款小程序</span>
				</li>
				<li>
					<p>3.小程序识别码—</p>
					<span>辨识度极高的专属“小程序码”，用户如果分享小程序码或者带小程序码的图片到朋友圈，好友识别即可进入!</span>
				</li>
				<li>
					<p>4.好友分享小程序—</p>
					<span>如果你使用过某个不错的小程序，或者好友使用个特别实用的小程序。相互分享，必定成为一种不错的入口 !</span>
				</li>
				<li>
					<p>5.群资料页-群小程序—</p>
					<span>从微信iOS版迎来v6.5.13更新开始，新增群资料页查看群里所有收到过的小程序功能，群资料页可以查看最近收到的小程序，这也是不错的推广方式。</span>
				</li>
				<li>
					<p>6.附近的小程序—</p>
					<span>只要将您的小程序设置对应的位置，附近5KM范围内的用户即可搜索到您的小程序，并快速体验。这个入口为实体店服务做了很大的引流作用。</span>
				</li>
				<li>
					<p>7.小程序列表（历史记录）—</p>
					<span>只要您曾经使用过某个小程序，即可在小程序面板快速找到。并且它会按使用的先后顺序排序，便于您快速找到最近使用的服务。</span>
				</li>
				<li>
					<p>8.公众号菜单直达—</p>
					<span>商户可以在公众号菜单设置小程序入口，引导用户直接进入小程序，体验相关的服务。</span>
				</li>
				<li>
					<p>9.聊天窗口—</p>
					<span>—在于好友聊天界面中，点击“+”，可看到有“图片”“小视频”“位置”等选项，未来或许会增加“小程序的选项；</span>
				</li>
				<li>
					<p>10.公众号关联推送—</p>
					<span>公众号关联小程序时，会直接推送通知给全体粉丝，用户点击直接跳转到小程序。用户只要体验一次，就能自动留存在使用的小程序中，在下次搜索时出现在
					优先排名。</span>
				</li>
			</ul>
		</div>
	</div>
<!-- 开发流程 -->
		<!--<development-process class="Development"></development-process>-->
		<include file="Public/development" />
<!-- 小程序多流量入口 -->
	<!--<ru-kou class="ruKou block"></ru-kou>-->
	<include file="Public/rukou" />
<!-- 运营保障 -->
	<yunyin-baozhang class="yunyin"></yunyin-baozhang>
<!-- 底部 -->
<!--底部-->
		<include file="Public/foot" />
<script type="text/javascript">
	var slider = new osSlider({ //开始创建效果
		pNode:'.slider', //容器的选择器 必填
		cNode:'.slider-main li', //轮播体的选择器 必填
		speed:3000, //速度 默认3000 可不填写
		autoPlay:true //是否自动播放 默认true 可不填写
	});
</script>
</body>
</html>