<include file="Public/head" />
<div class="contert">
			<h2 style="    width: 15%;
    float: left;">管理员管理</h2>
				<div style="float:right;margin-bottom:20px;    margin-top: 20px;">
					<a href="add"><button type="" class="btn btn-primary">添加管理员</button></a>
					<button class="btn btn-danger"onclick="history.go(-1)">返回</button>
			</div>	
		    <table class="table table-hover">		    	   
				<thead>
				     <tr style="width:100%;">
                        <th >编号</th>
						<th >昵称</th>
                        <th >最后登录时间</th>
                        <th >最后登录ip</th>
						<th >状态</th>
                        <th >操作</th>
                    </tr>
				</thead>
				<tbody>
				   <foreach name="user_info" item="v">
                        <tr>
                            <td>{$v.admin_id}</td>
							 <td>{$v.admin_name}</td>
                           
							 <td>
								<notempty name="v['admin_lasttime']">
							 			<?=date("Y-m-d H:i:s",$v['admin_lasttime']);?>
							 	</notempty>
							 </td>
                            <td>{$v.admin_lastip}</td>
						 <td>
						 	<if condition="$v.admin_id neq 1">
								 <if condition="$v.lock eq 1">未锁定</if>
								 <if condition="$v.lock eq 2">锁定</if>
						 	 </if>
						 </td>
                            <td>
								<!--<a  title="修改" alt="修改" href="edit/user_id/{$v['user_id']}">修改</a>-->
								<!--<a  title="修改" alt="修改" href="{:U('Servicer/edit'),array('user_id'=>$v['user_id'])}">修改</a>-->
								 <if condition="$v.admin_id neq 1">
										 <if condition="$v.lock eq 1">
											<a  title="锁定" alt="锁定" href="__ROOT__/adz.php/Members/lock/admin_id/{$v['admin_id']}">锁定</a>
										 </if>
										 <if condition="$v.lock eq 2">
											<a  title="解锁" alt="解锁" href="__ROOT__/adz.php/Members/lockout/admin_id/{$v['admin_id']}">解锁</a>
										 </if>
								  </if>
								  <if condition="$lever eq 1">
								<a  title="改密" alt="改密" href="__ROOT__/adz.php/Members/edit/admin_id/{$v['admin_id']}">改资料</a>
								</if>
								<a  title="删除" alt="删除" href="delete/admin_id/{$v['admin_id']}" onclick="if(confirm('确认删除吗？')==false)return false;">删除</a>
                            
							</td>
                        </tr>
                    </foreach>	   
				</tbody>
			</table>
		
						
		</div>
	<div class="pages" style=" width: 100%;
             margin-left: auto;    margin-top: 21px;text-align:center;
             margin-right: auto;"> {$pages}</div>
</div>