<include file="Public/head" />
<div class="contert">
	<if condition="$is_add eq 1">
		<h2>小程序类型添加</h2>
	</if>
	<if condition="$is_add eq 2">
		<h2>小程序类型修改</h2>
	</if>
			<form  class="form-horizontal" role="form" action="{:U('Formwork/runAdd_leixing',array('id'=>$info['id']))}" method="post">
				<div class="form-group">
					<label for="firstname" class="col-sm-1 control-label">类型名：</label>
					<div class="col-sm-11">
						<input value="{$info.name}" name="name"  type="text" class="form-control" id="firstname" placeholder="请输入模板类型名"> 							  
					</div>
				</div>																						
				<div class="form-group">
					<label for="lastname" class="col-sm-1 control-label">是否使用:</label>
					<div class="col-sm-11">
										<if condition="$info.state eq 1">
										<label class="radio-inline"><input type="radio" name="state" value="1" checked="true"> 使用</label>
											<else/>	
											<label class="radio-inline"><input type="radio" name="state" value="1"> 使用</label>
										</if>
										<if condition="$info.state eq 2">
											<label class="radio-inline"><input type="radio" name="state" value="2" checked="true"> 禁用</label>
											<else/>	
											<label class="radio-inline"><input type="radio" name="state" value="2" > 禁用</label>
										</if>
										<span class="help-block"></span>						
					</div>
				</div>
			
				<div style="float:right;">
				<!--<button type="button" class="btn btn-default">返回</button>-->
				<a class="btn btn-default" href="__ROOT__/adz.php/Formwork/leixing">返回</a>
				<button type="submit" class="btn btn-primary">确认</button>								
			</div>
			</form>							
				
															
		</div>

