<include file="Public/head" />
<div class="contert">	

	<if condition="$is_add eq 1">
		<h2>小程序版本号添加</h2>
		<form  class="form-horizontal" role="form" action="{:U('Formwork/runAdd_banben',array('lid'=>$info2))}" method="post">

	</if>
	<if condition="$is_add eq 2">
		<h2>小程序版本号修改</h2>
		<form  class="form-horizontal" role="form" action="{:U('Formwork/runAdd_banben',array('id'=>$info['id'],'lid'=>$info['lid']))}" method="post">

	</if>
			<div class="form-group">
					<label for="firstname" class="col-sm-1 control-label">版本号：</label>
					<div class="col-sm-11">
						<input value="{$info.name}" name="name"  type="text" class="form-control" id="firstname" placeholder="请输入模板版本号">
					</div>
				</div>																						
				
			<div class="form-group">
					<label for="firstname" class="col-sm-1 control-label">版本号价格：</label>
					<div class="col-sm-11">
						<input value="{$info.price}" name="price"  type="text" class="form-control" id="firstname" placeholder="请输入模板版本号">
					</div>
				</div>	

			<div class="form-group">
					<label for="lastname" class="col-sm-1 control-label">是否使用:</label>
					<div class="col-sm-11">
										<if condition="$info.state eq 1">
										<label class="radio-inline"><input type="radio" name="state" value="1" checked="true"> 使用</label>
											<else/>	
											<label class="radio-inline"><input type="radio" name="state" value="1"> 使用</label>
										</if>
										<if condition="$info.state eq 2">
											<label class="radio-inline"><input type="radio" name="state" value="2" checked="true"> 禁用</label>
											<else/>	
											<label class="radio-inline"><input type="radio" name="state" value="2" > 禁用</label>
										</if>
										<span class="help-block"></span>						
					</div>
				</div>
				<div style="float:right;">
				<!--<button type="button" class="btn btn-default">返回</button>-->
				<if condition="$is_add eq 1">
					<a class="btn btn-default" href="__ROOT__/adz.php/Formwork/banben?id={$info2}">返回</a>

				</if>
					<if condition="$is_add eq 2">
						<a class="btn btn-default" href="__ROOT__/adz.php/Formwork/banben?id={$info['lid']}">返回</a>

					</if>
				<button type="submit" class="btn btn-primary">确认</button>
			</div>
			</form>							
				
															
		</div>

<script>
    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="remark"]', {
            cssPath : '__ROOT__/Public/keditor/plugins/code/prettify.css',
            uploadJson : '__ROOT__/Public/keditor/php/upload_json.php',
            fileManagerJson : '__ROOT__/Public/keditor/php/file_manager_json.php',
            allowFileManager : true
        });
        prettyPrint();
    });
</script>