<include file="Public/head" />
<div class="contert">
			<h2 style="    width: 50%;
    float: left;">小程序模板管理</h2>
				<div style="float:right;margin-bottom:20px;    margin-top: 20px;">
					<a href="d_fengge"><button type="" class="btn btn-primary">模板风格差异管理</button></a>

					<a href="leixing"><button type="" class="btn btn-primary">模板类型管理</button></a>

					<a href="tir_sh"><button type="" class="btn btn-primary">添加小程序模板</button></a>
			<!--		<button class="btn btn-danger"onclick="history.go(-1)">返回</button>
			--></div>	
		    <table class="table table-hover">		    	   
				<thead>
				    <tr>
				      <th>编号</th>
				      <th>小程序名称</th>
				      <th>模板类型</th>
				      <th>模板版本</th>				      
				      <th>模板价格</th>
				      <th>申请时间</th>
				     <th>模板状态</th>
				      <th>操作</th>
				    </tr>
				</thead>
				<tbody>
				  <foreach name="user_info" item="v">
                        <tr>
                            <td>{$v.program_id}</td>
                            <td>{$v.appmcheng}</td>
							<td>
							 	{$v.muban_type_name}

							</td>
							 <td>{$v.muban_b}</td>
							 <td>{$v.muban_price}</td>
                            <td>
                          		  <?=date("Y-m-d H:i:s",$v['add_time']);?>
							</td>
							<td>
								 <if condition="$v.state eq 1">
									<a  title="锁定" alt="锁定" href="__ROOT__/adz.php/Formwork/lock/id/{$v['id']}">点击禁用</a>
								</if>
								<if condition="$v.state eq 2">
									<a  title="解锁" alt="解锁" href="__ROOT__/adz.php/Formwork/lockout/id/{$v['id']}">点击启用</a>
								</if>
							</td>
							<td>
								<a  title="修改" alt="修改" href="__ROOT__/adz.php/Formwork/edit/id/{$v['id']}">详情</a>
								<a  title="删除" alt="删除" href="delete/id/{$v['id']}" onclick="if(confirm('确认删除吗？')==false)return false;">删除</a>
                            </td>
                        </tr>
                    </foreach>		   
				</tbody>
			</table>
		
						
		</div>
	<div class="pages" style="margin-bottom:55px; width: 100%;
             margin-left: auto;    margin-top: 21px;text-align:center;
             margin-right: auto;"> {$pages}</div>
	</div>