<include file="Public/head" />
<div class="contert">
			<h2 style="    width: 15%;
    float: left;">服务商管理</h2>
				<div style="float:right;margin-bottom:20px;    margin-top: 20px;">
					<a href="add"><button type="" class="btn btn-primary">添加服务商</button></a>
					<button class="btn btn-danger"onclick="history.go(-1)">返回</button>
			</div>	
		    <table class="table table-hover">		    	   
				<thead>
				    <tr>
				      <th>编号</th>
				      <th>账号</th>
				      <th>所属公司</th>
				      <th>余额</th>				      
				      <th>电话</th>
				      <th>所属商户</th>
				      <th>充值</th>
				      <th>消费记录</th>
				      <th>充值记录</th>
				      <th>加盟日期</th>
				      <th>操作</th>
				    </tr>
				</thead>
				<tbody>
				  <foreach name="user_info" item="v">
                        <tr>
                            <td>{$v.user_id}</td>
							 <td>{$v.user_name}</td>
                            <td>{$v.user_company}</td>
							 <td>{$v.user_balance}</td>
                            <td>{$v.user_tel}</td>
							<td>
								<a href="shagnhu/user_id/{$v['user_id']}">查看商户</a>
							</td>
							
							<td>
							<a href="top_up/user_id/{$v['user_id']}">点击充值</a>
							</td>
							<td>
							<a href="record_xf/user_id/{$v['user_id']}">消费记录</a>
							</td>
							<td>
							<a href="record_cz/user_id/{$v['user_id']}">充值记录</a>
							</td>
							<td>
								<?=date("Y-m-d H:i:s",$v['add_time']);?>
						
							</td>
                            <td>
								<!--<a  title="修改" alt="修改" href="edit/user_id/{$v['user_id']}">修改</a>-->
								<!--<a  title="修改" alt="修改" href="{:U('Servicer/edit'),array('user_id'=>$v['user_id'])}">修改</a>-->
								<a  title="修改" alt="修改" href="__ROOT__/adz.php/Servicer/edit/user_id/{$v['user_id']}">详情</a>
								<a  title="删除" alt="删除" href="delete/user_id/{$v['user_id']}" onclick="if(confirm('确认删除吗？')==false)return false;">删除</a>
                            </td>
                        </tr>
                    </foreach>		   
				</tbody>
			</table>
		
						
		</div>
	<div class="pages" style=" width: 100%;
             margin-left: auto;    margin-top: 21px;text-align:center;
             margin-right: auto;"> {$pages}</div>
	</div>