<include file="Public/head" />
<style>
td{
text-align:center;
}
</style>
<div style="width:100%;border:1px solid red;min-height:400px;">
	<h4>服务商管理<noempty name="title">--</noempty>{$title}</h4>
	<if condition="$show_add eq 1">
		<a href="add">&nbsp&nbsp添加服务商</a><div style="height:12px;clear:both;"></div>
	</if>
	<div style="float:right;border:1px solid ;padding:5px;margin-top: -3%;margin-right: 3%; ">
	<a href="__ROOT__/index.php/Admin/Servicer/index">返回</a></div>
<form method="post">
            <table>
                <tbody>
                   <tr style="width:100%;">
                        <th style="width:5%;">编号</th>
						<th style="width:5%;">流水号</th>
                        <th style="width:5%;">充值金额</th>
                        <th style="width:5%;">充值时间</th>
                        <th style="width:5%;">服务商公司</th>
						<th style="width:5%;">备注</th>
						<th style="width:5%;">操作人</th>
                        <th style="width:5%;">操作</th>
                    </tr>
                    <foreach name="record_cz" item="v">
                        <tr>
                            <td>{$v.id}</td>
							 <td>{$v.running_num}</td>
                            <td>{$v.recharge_gold}</td>
							 <td>
							 	<?=date("Y-m-d H:i:s",$v['recharge_time']);?>
							 </td>
                            <td>{$v.user_company}</td>
							<td>{$v.content}</td>
							<td>{$v.man_action}</td>
                            <td>
								<!--<a  title="修改" alt="修改" href="edit/user_id/{$v['user_id']}">修改</a>-->
								<!--<a  title="修改" alt="修改" href="{:U('Servicer/edit'),array('user_id'=>$v['user_id'])}">修改</a>-->
								<!--<a  title="修改" alt="修改" href="__ROOT__/index.php/Admin/Servicer/edit/user_id/{$v['user_id']}">修改</a>-->
								<a  title="删除" alt="删除" href="__ROOT__/index.php/Admin/Servicer/delete3/id/{$v['id']}}" onclick="if(confirm('确认删除吗？')==false)return false;">删除</a>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
</form>
		<div class="pages" style=" width: 100%;
             margin-left: auto;    margin-top: 21px;text-align:center;
             margin-right: auto;"> {$pages}</div>
</div>